[defaults]
# Источник данных о хостах (Inventory)
inventory = ./inventories/inventory.yaml

# Настройка интерпретатора Python на целевых узлах
interpreter_python = auto_silent

# Контроль SSH-ключей (проверка при первом подключении)
host_key_checking = False

# Форматирование вывода (YAML)
# stdout_callback = yaml

# Параллельное выполнение (количество одновременных потоков)
forks = 10

# Управление файлами повторных попыток (.retry)
retry_files_enabled = False

# Путь к журналу выполнения (Logs)
log_path = ./ansible.log

[privilege_escalation]
# Повышение привилегий (Becoming)
become = False

# Метод повышения привилегий для Linux (sudo)
become_method = sudo

# Целевой пользователь для повышения привилегий
become_user = root

# Запрос пароля для повышения привилегий
become_ask_pass = False
